<nav class="thredded--navigation">
  <ul class="thredded--user-navigation<%= ' thredded--user-navigation-standalone' if Thredded.standalone_layout? %>">
    <%= render 'thredded/shared/nav/moderation' %>
  </ul>
  <% if content_for? :thredded_main_navigation %>
    <%= yield :thredded_main_navigation %>
  <% else %>
    <div class="thredded--main-navigation">
      <div>
        <%= render 'thredded/search/form', messageboard: messageboard_or_nil %>
      </div>
      <%= yield :thredded_breadcrumbs %>
    </div>
  <% end %>
</nav>
