<% stylesheet 'page_specific/blog' %>

<div class="page-header">
  <h1 class="form-title text-center"><%= @story.title %></h1>
</div>

<!--<header class="picture<%= @number %>">-->
<!--<div class="cell">-->
<!--<div class="site-info">-->
<!--<h1 class="tagline"><%= @story.title %></h1>-->
<!--</div>-->
<!--</div>-->
<!--</header>-->


<% if current_user.admin? %>
    <div class="text-center">
      <%= link_to t(".update_story"), edit_story_path(@story) , class: 'btn red-standard-btn', style: 'margin-left: 200px; margin-top: 20px'%>
    </div>
<% end %>

<main class="content">
  <p class="meta"><%= @story.created_at.strftime('%b %d, %Y') %></p>
  <div class="content">
    <p>
      <% if not @story.image_file_name.nil? %>
          <%= image_tag(@story.image.url(:medium), style: 'float: left; padding-right: 20px')%>
    <% end %>
      <%= markdown(@story.body) %>
    </p>
  </div>
</main>